<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Please Log In</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <link href="/css/signin.css" rel="stylesheet" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0">
</head>
<body>
    <section class="vh-100">
        <div class="container-fluid h-custom">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-md-9 col-lg-6 col-xl-5">
                    <img src="/images/signin.jpg"
                         class="img-fluid" alt="Sample image">
                </div>
                <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                    <form th:object="${registration}" th:action="@{/signInUser} " method="post">

                        <div class="divider d-flex align-items-center my-4">
                            <h1 class="text-center fw-bold mx-3 mb-0">Sign in</h1>
                        </div>


                        <div th:if="${userAlreadyRegistered}" class="text-white bg-danger px-1 py-2 mb-2" >User already Registered</div>

                        <!-- Email input -->
                        <div class="form-outline mb-4">
                            <input th:classappend ="${#fields.hasErrors('email')} ? 'is-invalid'" type="email" name="email"  id="emailForm" class="form-control form-control-lg"
                                   th:value="${registration.email}" placeholder="Enter a valid email address" />
                            <div class="p-1 mt-1" th:if="${#fields.hasErrors('email')}">
                                <span class="invalid-feedback d-block mb-1" th:each="err : ${#fields.errors('email')}" th:text="${err}"></span>
                            </div>
                        </div>

                        <!-- Username input -->
                        <div class="form-outline mb-4">
                            <input th:classappend ="${#fields.hasErrors('username')} ? 'is-invalid'" type="username" name="username"  id="usernameForm" class="form-control form-control-lg"
                                   th:value="${registration.username}" placeholder="Enter a valid username" />
                            <div class="p-1 mt-1" th:if="${#fields.hasErrors('username')}">
                                <span class="invalid-feedback d-block mb-1" th:each="err : ${#fields.errors('username')}" th:text="${err}"></span>
                            </div>
                        </div>

                        <!-- Password input -->
                        <div class="form-outline mb-3">
                            <input th:value="${registration.password}" th:classappend ="${#fields.hasErrors('password')} ? 'is-invalid'" type="password" name="password"  id="passwordForm" class="form-control form-control-lg" placeholder="Enter password" />
                            <div class="p-1 mt-1" th:if="${#fields.hasErrors('password')}">
                                <span class="invalid-feedback d-block mb-1" th:each="err : ${#fields.errors('password')}" th:text="${err}"></span>
                            </div>
                        </div>


                        <div class="text-center text-lg-start mt-4 pt-2">
                            <input type="submit" class="btn btn-primary btn-lg bg-danger"
                                    style="padding-left: 2.5rem; padding-right: 2.5rem;" value="Create Account">
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </section>
</body>
</html>